body
    {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(280.1deg, #FD7362 8.2%, #FF916C 55.96%);
    }
    .Container { 
        background-color:rgba(255, 100.00003963708878, 87.00001001358032, 0.6499999761581421);
        width:905px;
        height:457px;
        border-radius: 20px;
        position:absolute;
        overflow:hidden;
    }
    .Autoriz { 
        position: absolute;
        text-align: center;
        margin-left: 36%;
        margin-top: 10px;
        color: white;
        font-size: 48px;
    }
    .PasswordTxt { 
        left:181px;
        top:221px;
    }
    .LoginTxt { 
        left:181px;
        top:110px;
    }
    p
    {
        color:rgba(255, 255, 255, 1);
        width:201px;
        height:27px;
        position:absolute;
        text-align:left;
        font-size:28px;
        letter-spacing:0;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        
    }
    .SignIn { 
        width:259px;
        height:39px;
        left:323px;
        top:369px;
        border-radius: 15px;
        font-size: 24px;
        color: rgb(255, 255, 255);
        border: 1px;
        background-color: #FD7362;
    }
    .SignIn:hover
    {
        background-color:#FF373F;
    }
    .Login { 
        left:181px;
        top:173px;
    }
    .Password { 
        left:181px;
        top:284px;
    }
    input
    {
        background-color:rgba(254.00000005960464, 234.00000125169754, 231.00000143051147, 1);
        width:544px;
        height:38px;
        position:absolute;
        border-radius: 10px;
        padding-left: 10px;
        border:none;
        font-size: 24px;
        outline: none;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }