*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #FEEAE7; 
    margin: 30px 20px;
}

.main-line{
    text-align: center;
    width: 95%;
    height: 40px;
    background: rgba(255, 100, 87, 0.3);
    border-radius: 20px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 0.9vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

button{
    width: 250px;
    height: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background-color: #FEEAE7;
    border: 0px;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    margin-left: 10px;
}
.container
{
    background-color: black;
    width: 95%;
    height: 80vh;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 25px;
    background: #FEEAE7;
    border: 2px solid #FF373F;
    border-radius: 15px;
}
p.txt1
{
    padding-left: 15px;
    padding-top: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
.first_line
{
    margin-top: 20px;
}
.other_lines 
{
    margin-top: 25px;
}
.other_lines .box1, .other_lines .box2, .other_lines .box3, .other_lines .box4 
{
    padding: 0;
    background: #FFFFFF;
    border: 1px solid rgba(255, 100, 87, 0.65);
    height: 40px;   
}
.box1, .box2, .box3, .box4
{
    background: rgba(255, 100, 87, 0.4);
    border: 1px solid rgba(255, 100, 87, 0.65);
    text-align: center;
    border-radius: 10px;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box1, .box2, .box4
{
    width: 18.9%;
}
.box3
{
    width: 38.7%;
}
.second_container button
{
    border: none;
    cursor: pointer;
}
